nav {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background: purple;
    font-size: 22pt;
    border: black 5px solid;
}
nav a {
    padding: 14px;
    text-decoration: none;
    border: blue solid 4px;
    color: white;
    background-color: blue;
    border-radius: 20px;
}
nav a:hover {
    padding: 14px;
    text-decoration: none;
    border: blue solid 4px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

table {
    width: 500px;
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

td, th{
    text-align: center;
    border: 3px solid black;
    padding: 4px;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}