.hide {
    display: none;
}
.show {
    display: block;
    margin: 10px auto;
    background-color: orange;
    padding: 20px;
    border: black 2px solid;
    width: 25%;
}
form {
    text-align: center;
    font-size: 14pt;

}